:root {
  --background-dark: rgb(29, 29, 29);
  --light-side: rgb(173, 232, 255);
  --dark-side: rgb(253, 106, 106);
}

@font-face {
  font-family: "Aurebesh";
  src: url("fonts/Aurebesh.ttf.woff") format("woff"),
    url("fonts/Aurebesh.ttf.svg#Aurebesh") format("svg"),
    url("fonts/Aurebesh.ttf.eot"),
    url("fonts/Aurebesh.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Aurebesh", sans-serif;
}

body {
  color: var(--light-side);
  background-color: var(--background-dark);
  margin: 0;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.square {
  color: var(--light-side);
  background: var(--background-dark);
  border: 1.5px solid var(--light-side);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 240px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 240px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-top: 20px;
}
